MONGO_URI=mongodb://127.0.0.1:27017/insuredmine
PORT=3000
DEFAULT_UPLOAD_PATH=C:\\Users\\rupes\\Downloads\\data-sheet - Node js Assesment (2) (1).csv
CPU_THRESHOLD_PERCENT=70
CPU_CHECK_INTERVAL_MS=5000
